################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/youtube-dl/ffmpeg
/bin/Debug/youtube-dl/youtube-dl.exe
/bin/Debug
/obj/Debug
