<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net462" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net462" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net462" />
  <package id="DynamicData" version="6.14.8" targetFramework="net461" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net462" />
  <package id="Google.Apis.YouTube.v3" version="1.44.1.1869" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Pharmacist.Common" version="1.5.15" targetFramework="net462" />
  <package id="ReactiveUI" version="11.2.3" targetFramework="net462" />
  <package id="ReactiveUI.Events.WPF" version="11.2.3" targetFramework="net462" />
  <package id="ReactiveUI.WPF" version="11.2.3" targetFramework="net462" />
  <package id="RunProcessAsTask" version="1.2.4" targetFramework="net462" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net462" />
  <package id="Splat" version="9.3.11" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net462" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>